.comments#comments
  %ol.comments_tree{ data: { comments: { tolarance_time: TheComments.config.tolerance_time  } } }
    = render template: "comments/comment", locals: { tree: comments_tree }
  = render partial: 'comments/form', locals: { commentable: commentable }