- display_none = { style: 'display:none' }

- hide = comment.published? ? display_none : {}
= link_to t('the_comments.to_published'), to_published_comment_url(comment), {remote: true, class: :to_published, method: :post}.merge(hide)

- hide = comment.draft? ? display_none : {}
= link_to t('the_comments.to_draft'), to_draft_comment_url(comment), { remote: true, class: :to_draft,   method: :post }.merge(hide)

- hide = comment.deleted? ? display_none : {}
= link_to t('the_comments.to_spam'),   to_spam_comment_url(comment),  { remote: true, class: :to_spam,    method: :post }.merge(hide)
= link_to t('the_comments.to_delete'), to_trash_comment_url(comment), { remote: true, class: :to_deleted, method: :delete, data: { confirm: t('the_comments.delete_confirm') } }.merge(hide)