.comments#comments
  %ol.comments_tree{ data: { comments: { tolarance_time: TheComments.config.tolerance_time  } } }
    = render partial: 'the_comments/comment', locals: { tree: comments_tree }
  = render partial: 'the_comments/form', locals: { commentable: commentable }