.additional_info{ style: "display:none" }
  %br
  %table.table.table-striped.table-hover
    %tr
      %th Tolerance time:
      %th IP:
      %th User Agent:
      %th Referer:
    %tr
      %td= comment.tolerance_time || :none
      %td= comment.ip
      %td= comment.user_agent
      %td= comment.referer