.comments@comments
  ol.comments_tree@comments_tree@tolarance_time_holder data={ comments: { tolarance_time: TheComments.config.tolerance_time  } }
    = render partial: comment_template('tree/comment'), locals: { tree: comments_tree }
    = render partial: comment_template('tree/form'), locals: { commentable: commentable }
