.comments, .comments_tree{
  .error_notifier{    
    background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
    
    border-radius: 4px;
    margin: 0 0 15px 0;
    padding: 10px 10px 0 10px;
    overflow: hidden;

    p{
      margin-bottom: 10px;
    }
  }
  form{
    background: white;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 10px;

    input[type=text]{
      border: 1px solid gray;
      width: 75%;
    }
    textarea{
      border: 1px solid gray;
      width: 75%;
      height: 150px;
    }
    .trap{
      filter: alpha(opacity=0.001);
      height: 0.1px;
      opacity: 0.001;
      overflow: hidden;
    }
  }
}

.comments_tree{
  margin:0; padding:0;
  *{ margin: 0; padding: 0; }

  a{ text-decoration: none; }
  a:hover{ text-decoration: underline; }

  ol{
    margin: 0 0 0 13px;
    padding: 0 0 0 15px;
    border-left: 1px dashed LightGray;
    list-style: none outside none;
  }

  li{
    margin-bottom:5px;
    position: relative;
    list-style: none outside none;
  }

  .form_holder{ margin-left: 40px; }
  
  .to_draft, .to_published,
  .to_deleted, .to_spam{
    text-align:center;
    background: green;
    line-height: 130%;
    color: white;
    margin-bottom: 3px;
    padding: 1px;
  }

  .to_spam{ background: orange; }
  .to_deleted{ background: red; }

  .comment{
    overflow: hidden; zoom: 1;

    .userpic{
      overflow: hidden; zoom: 1;
      float: left;
      width: 50px;

      img{
        margin-bottom: 10px;
      }
    }
    .userbar, .cbody{
      margin: 0 0 5px 55px;
      padding: 3px;
    }
    .userbar {
      background: #ddd;
      border-radius: 3px;
      padding-left: 7px;
    }
    .cbody{
      border-bottom: 1px solid LightGray;
      padding-bottom: 10px;
      margin-bottom: 0;
    }
    .reply{
      margin: 0 0 5px 55px;
      font-size: 12px;
    }
  }

  .controls{
    a{
      font-size:11px;
      display:block;
    }
  }

  .draft{
    .comment{
      border: 2px solid LightGray;
      border-radius: 3px;
      background: #eee;
      padding: 5px;
    }
  }

  .published{
    .comment{
      border-radius: 3px;
      
      padding: 10px 10px 5px 10px;
      margin-bottom: 10px;
    }
  }

  .form_holder{
    form{ margin: 10px 0; }
    .btn{ padding: 7px; margin-top: 5px; }
  }
}