%h3 TheComments

%p New Comment for <b>#{ @commentable.title }</b> was created

%hr

%p= @comment.content

%hr

/ %p= link_to unsubscribe_of_comments Unsubscribe of this comment
%p Unsubscribe of this commentable
%p Unsubscribe of all comments
